@import '../../assets/styles/variables.scss';

.mainTxtWrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  .page2 & {
    background-color: $blue-dark;
  }
  .page3 & {
    background-color: $pink;
  }
}

.mainTxt {
  width: 380px;

  h1 {
    color: $pink;
    .page3 & {
      color: $white;
    }
  }
  h3 {
    line-height: 1.2;
    margin: 10px 0 15px 0;
    .page3 & {
      color: $black;
    }
  }
  .note {
    color: rgba($white, 0.3);
    line-height: 1.4;
    .page3 & {
      color: $black;
    }
  }
  .myBtn {
    &:hover {
      color: $blue;
      background-color: $white;
    }
  }
  form {
    margin-top: 30px;
  }
}

.myBtn {
  -webkit-appearance: none;
  // border-width: 0;
  background-color: transparent;
  padding: 15px;
  border-radius: 30px;
  border: 2px solid $white;
  font-size: 20px;
  color: $white;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
}
