@import '../../assets/styles/variables.scss';

.mainShape {
  background-color: $pink;
  height: 100vh;
  width: 40%;
  position: relative;
  overflow: hidden;
}
.page2 {
  background-color: $blue-dark;
}
//shape
.square,
.circle,
.triangle {
  position: absolute;
  z-index: 0;
}
.square {
  @include square(350px, $blue);
  top: 50%;
  left: -50%;
  transform: rotate(60deg);
}

.circle {
  @include circle(190px, $black);
  top: 65%;
  left: 20%;
}

.triangle {
  @include triangle(170px, $white);
  top: -10%;
  left: 20%;
  transform: rotate(30deg);
}
