@import '../../assets/style.scss';
@import '../../assets/basic.scss';
#GeneralInformation {
  width: 460px;
  margin: 0 auto;
  h1 {
    text-align: center;
    small {
      display: block;
    }
  }
  .flexBox {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 24px;
    flex-wrap: wrap;
    .row6 {
      width: 48%;
    }
    .row12 {
      width: 100%;
    }
    .textInput {
      margin-top: 8px;
      width: 100%;
    }
    .mt24 {
      margin-top: 24px;
    }
    &.mb40 {
      margin-bottom: 40px;
    }
  }
  .inputContainer {
    .mt0 {
      margin-top: 0;
    }
  }
}
