*{
  padding: 0;
  margin: 0;
  font-family: "Roboto-Regular","Arial";
  box-sizing: border-box;
}
.container{
  width: 456px;
  margin: 0 auto;
  .top{
    width: 100%;
    border: 8px solid #0275D8;
  }
  .step{
    display: flex;
    justify-content: space-around;
    margin-top: 54px;
    .item{
      width: 16px;
      height: 16px;
      border: 2px solid #0275D8;
      border-radius: 50%;
    }
  }
  .creat{
    margin-top: 41px;
    font-family: "Roboto-Light","Arial";
    text-align: center;
    .up{
      font-size: 48px;
    }
    .down{
      font-size: 24px;
    }
  }
  .box{
    width: 230px;
    margin: 0 auto;
    margin-top: 24px;
    font-size: 230px;
    color: #BEE1FF;
  }
  .home{
    margin-top: 40px;
    font-size: 20px;
    color: #0275D8;
    text-align: center;
    line-height: 25px;
    font-style: italic;
  }
}