@import '../../assets/style.scss';

#ComicChapter {
  width: 620px;
  margin: 0 auto;
  h3 {
    width: 181px;
    height: 44px;
    background-color: #000;
    color: #fff;
    line-height: 44px;
    text-align: center;
    font-size: $fz2;
    font-weight: 700;
    margin-bottom: 0;
  }
  #chapterChoose {
    width: 620px;
    border: 3px solid #000;
    box-sizing: border-box;
    padding: 22px 0;
    background-color: #fff;
    a {
      text-decoration: none;
      color: #000;
      li {
        list-style: none;
        font-weight: 900;
        font-size: $fz4;
        padding: 8px 24px;
        cursor: pointer;
      }
      &:hover li {
        background-color: #000;
        color: #fff;
        &:last-child {
          &::after {
            color: #000;
          }
        }
      }
      &:last-child li {
        margin-bottom: 0;
        &::after {
          content: 'NEW';
          display: inline-block;
          text-align: center;
          margin-left: 16px;
          width: 55px;
          height: 18px;
          background-color: $primary;
          line-height: 18px;
        }
      }
    }
  }
}
