@import '../../assets/style.scss';
#HeaderPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 72px;
  margin: 0 auto;
  font-family: $ff;
  font-weight: 700;
  font-size: $fz1;
  font-style: italic;
  color: $primary;
  background-color: #000;
  cursor: pointer;
}
