@import '../../assets/style.scss';
@import '../../assets/basic.scss';
#Congratulation {
  width: 460px;
  margin: 0 auto;
  text-align: center;
  h1 {
    text-align: center;
    small {
      display: block;
    }
  }
  > i {
    color: #bee1ff;
    font-size: 230px;
    display: block;
    margin-bottom: 40px;
  }
  p {
    color: $primary;
    font-style: italic;
    line-height: 25px;
  }
}
