@import '../../assets/style.scss';

#ComicPage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  .comicView {
    width: 620px;
    height: 930px;
    background-size: contain;
    position: relative;
    cursor: pointer;
  }
  .pageSwitch {
    width: 80px;
    position: absolute;
    height: 100%;
    font-size: 80px;
    // top: 50%;
    // margin-top: -40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $b1;
    &:hover {
      background-color: #000000;
      color: $primary;
    }
    &:first-child {
      left: -80px;
    }
    &:last-child {
      right: -80px;
    }
  }
  .lightBox {
    background-color: $b8;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: pointer;
  }
  .comicViewFull {
    width: 80%;
    height: 90%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: fixed;
    z-index: 10;
    top: 5%;
    left: 10%;
    .fa-times-circle {
      position: absolute;
      font-size: 20px;
      top: 20px;
      right: 20px;
      cursor: pointer;
      color: #fff;
      &:hover {
        color: $primary;
      }
    }
  }
  .pageSwitchFull {
    width: 60px;
    position: absolute;
    height: 100%;
    font-size: 80px;
    top: 0;
    // top: 50%;
    // margin-top: -40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    &:hover {
      background-color: $primary;
      color: #000000;
    }
    &:first-child {
      left: 0;
    }
    &:last-child {
      right: 15px;
    }
  }
}
