<div id="ComicPage">
  <div class="pageSwitch" @click="pageChange(-1)">
    <i class="fas fa-angle-left"></i>
  </div>
  <div class="comicView" @click="fullScreen = true" :style="{ 'backgroundImage': `url('${comicPage}')` }">
  </div>
  <div class="pageSwitch" @click="pageChange(1)">
    <i class="fas fa-angle-right"></i>
  </div>
  <div v-if="fullScreen" class="lightBox">
    <div class="pageSwitchFull pageLeft" @click="pageChange(-1)">
      <i class="fas fa-angle-left"></i>
    </div>
    <div class="comicViewFull" :style="{ 'backgroundImage': `url('${comicPage}')` }">
      <i class="far fa-times-circle" @click="fullScreen = false"></i>
    </div>
    <div class="pageSwitchFull" @click="pageChange(1)">
      <i class="fas fa-angle-right"></i>
    </div>
  </div>
</div>
