* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  width: 1024px;
  height: 768px;
  background-color: #1469ff;
  margin: 0 auto;
  position: relative;
  .squre {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 439px;
    height: 434px;
    background: #000;
  }
  .circle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 539px;
    height: 534px;
    border-radius: 50%;
    background: #0027c8;
  }
  .star {
    position: absolute;
    top: 199px;
    left: 329px;
    width: 365px;
    height: 313px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #ff3c82;
  }
  .starReverse {
    position: absolute;
    top: 256px;
    left: 329px;
    width: 365px;
    height: 313px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: #ff3c82;
    transform: rotate(180deg);
  }
  .shapes {
    position: absolute;
    top: 280px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    h1 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 64px;
      color: #ffffff;
      text-align: center;
    }
    p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 24px;
      color: #ffffff;
      line-height: 36px;
      text-align: center;
    }
  }
}
