<div id="ComicCover">
  <div id="cover" :style="{ 'backgroundImage': `url('${cover}')` }"></div>
  <div id="info">
    <h2 id="title">MY HEXSCHOOL</h2>
    <div id="intro">
      <li>
        <span>Genres</span>
        Fusce/vehicula/dolor
      </li>
      <li>
        <span>Author</span>
        Namae Shiranai
      </li>
      <li>
        <span>Status</span>
        Ongoing
      </li>
      <li>
        <span>Rate</span>
        <span class="star">★★★★☆</span>
      </li>
      Summary
      <p>{{text1}}
      </p>
      <p>
        {{text2}}
      </p>
    </div>
  </div>
</div>
