@import '../../assets/style.scss';
#ComicCover {
  width: 617px;
  margin: 0 auto;
  #cover {
    width: 300px;
    height: 446px;
    box-sizing: border-box;
    background-size: contain;
    border: 3px solid #000;
    display: inline-block;
  }
  #info {
    width: 317px;
    display: inline-block;
    vertical-align: top;
    #title {
      font-size: $fz1;
      line-height: 52px;
      width: 100%;
      height: 52px;
      background-color: #000;
      color: #fff;
      text-align: center;
      margin-top: 0;
      margin-bottom: 4px;
      font-weight: 700;
      font-family: $ff;
    }
    #intro {
      list-style: none;
      font-size: $fz4;
      padding: 20px;
      li {
        margin-bottom: 8px;
        span {
          font-weight: 700;
          width: 52px;
          margin-right: 16px;
          display: inline-block;
        }
        .star {
          letter-spacing: 10px;
          width: auto;
        }
        &:last-child {
          margin-bottom: 24px;
        }
      }
      p {
        line-height: 24px;
        font-size: $fz4;
      }
    }
  }
}